shork/
.vscode/
__pycache__/
.VSCodeCounter/
backups/
bank_statements/
main/config/budget_history.json
main/config/shopping_list.json
entries/23_03_2026.json
entries/24_03_2026.json
icon/ShorkieNotesIcon.bmp